<p id="notice"><%= notice %></p>
<div>
    <h1 class="page_sub_heading">Listing Games</h1>
</div>

    <% @products.each do |product| %>
      <div class="game_block">
        <div class="game group">
            <div class ="game_container">
              <div class="game_left">
                <figure class="game_pic"><%= image_tag(product.picture, :size => '260x180')%></figure>
              </div>

              <div class="game_right">
                <div class="game_info">
                    <p><%= product.name %></p><p><%= link_to 'Show', product %></p>
                    <p><%= product.description %></p>

                </div>
                <div class="game_buttons">
                    <p><%= product.formatted_price %></p>
                    <p><%= link_to 'Buy', product.gumroad_link %></p>
                    <p><%= link_to 'Edit', edit_product_path(product) %></p>
                    <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                </div>
              </div>
            </div>
        </div>
      </div>
            

    <% end %>