<div>
    <h1 class="page_sub_heading">Listing Games</h1>
</div>
<div class="content">
    <% @products.each do |product| %>
      <div class="game_block">
        <div class="game group">
            <div class ="game_container">
              <div class="game_left">
                <figure class="game_pic"><%= image_tag(product.picture, :size => '260x180')%></figure>
              </div>

              <div class="game_right">
                <div class="game_info">
                  <div class="game_info_top">
                        <p class="game_info_name"><%= product.name %></p>
                      <p><%= link_to 'Show', product %></p>
                  </div>
                    <div class="product_description">
                        <p><%= product.description %></p>
                    </div>

                </div>
                <div class="game_buttons">
                    <div class="buy_box">
                        <p><%= product.formatted_price %></p>
                        <p class="buy_button"><%= link_to 'Buy', product.gumroad_link %></p>
                    </div>
                    <div class="admin_edit">
                        <p class="edit_button"><%= link_to 'Edit', edit_product_path(product) if current_user%></p>
                        <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } if current_user%></p>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
            

    <% end %>
</div>