
  <h1 class="page_sub_heading"><%= @product.name %></h1>
  <div class="entire_page">
  <div class="game_info_show">
  <p class="GameImage">
    
    <figure class="game_pic_show"><%= image_tag(@product.picture, :size => '560x315')%></figure>
  </p>
  <p class="game_name">
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p class="game_desc">
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p class="game_price">
    <strong>Price:</strong>
    <%= @product.formatted_price %>
  </p>

  <p class="game_buy">
    <strong>Buy:</strong>
    <%= link_to 'Buy', @product.gumroad_link %>
  </p>

  <p class="game_promo">
    <strong>Video:</strong><br>
    <%= @product.video_link.html_safe %>
  </p>

      <h2>User Reviews</h2>
    <div class="current_reviews">
      <% @product.reviews.each do |review| %>
          <p>
            <div class="user_review">
                <%= review.comment %>


            <div class="comment_tag">

                <%= review.user.name %> | Added: <%= time_ago_in_words(review.created_at) %> ago
            </div>
            </div>
          </p>
      <% end %>
  </div>
    <% if current_user  %>
  <h3 class="add_comment">New Review</h3>
  <%= render 'reviews/form' %>

  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
  <div class="bottom_backgit">
      <%= link_to 'Back', products_path %>
  </div>
  </div>

