<h1 class="page_sub_heading"><%= @product.name %></h1>

<p>
  <strong>pic</strong><br>
  <%= image_tag @product.picture %>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.formatted_price %>
</p>

<p>
  <strong>buy:</strong>
  <%= link_to 'Buy', @product.gumroad_link %>
</p>

<p>
  <strong>Video:</strong>
  <%= @product.video_link.html_safe %>
</p>

<h3>Reviews</h3>
<% @product.reviews.each do |review| %>
    <p>
      <%= review.comment %>
      <br>
      Added on: <%= time_ago_in_words(review.created_at) %>
      Added by: <%= review.user.name %>
    </p>
<% end %>

<h3>New Review</h3>
<%= render 'reviews/form' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


