<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--make all caps.  Helvetica font weight is 100  letter spacing 2px. font-size: 40px; -->
  <header>
    <em>W</em>YNGAME
  </header>
<div id="user-widget">
  <% if current_user %>
      Welcome <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <%= link_to "Edit profile", "/profile" %>
  <% else %>
      <%= link_to image_tag("facebook.jpg", :alt => "facebook login"), "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<%= yield %>


</body>
</html>
